{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'blog.css' %}" rel='stylesheet'>
<body>
    <div class ="blcontainer">
        <h1 class="blogh1">10 Ý TƯỞNG CỰC LẠ TRANG TRÍ CHẬU CÂY</h1>
        <h2>1/ Trang trí chậu cảnh bằng dây thừng</h2>
        
        <p class="blogtext1">Nếu chậu cảnh của bạn có dáng vẻ quá đơn giản, hãy thử làm mới nó bằng sợi dây thừng như thiết kế này. Một dáng vẻ mới đơn giản nhưng không kém phần mới mẻ cho chậu cảnh của mình, phải không nào?</p>
        <h2>2/ Trang trí chậu cảnh bằng vải ren</h2>
        <p class="blogtext1">Nếu chậu cảnh của bạn có vẻ ngoài thô mộc, hãy thử “khoác áo mới” cho chậu cây của bạn bằng vải ren xem sao. Những chi tiết dịu dàng của tấm vải ren chính là cách trang trí tiết kiệm chi phí mà vẫn mang đến vẻ đẹp cuốn hút cho chậu cây đấy. Một tấm vải ren quấn nhẹ nhàng quanh chậu sẽ khiến chậu mang vẻ đẹp thanh tao mà không kém phần quyến rũ.</p>
        
        <h2>3/ Trang trí chậu cảnh bằng vải len</h2>
        
        <p class="blogtext1">Những miếng vải len rực rỡ sắc màu này sẽ giúp không gian cây cảnh của bạn trở nên sống động, thu hút. Những chiếc chậu cảnh như được giữ ấm hơn trong lớp vải len mềm mại khiến mảng tường treo cây trở nên thật ấm áp.</p>
            <h2>4/ Trang trí chậu cảnh bằng kim tuyến</h2>
            
            <p class="blogtext1">Bạn chỉ cần trộn kim tuyến với keo và sử dụng sự khéo kéo của mình để trang trí những chậu hoa đơn điệu nào. Những họa tiết nổi bật ánh kim sẽ khiến bề mặt chậu trở nên đẹp lung linh hơn đấy.</p>
                <h2>5/ Trang trí chậu cảnh bằng màu nước</h2>
                
                <p class="blogtext1">Nếu nhà bạn sẵn màu nước và có những chiếc chậu cảnh đơn sắc, hãy thử thay màu cho những chiếc chậu cây nhỏ xinh của bạn đi nào. Những mẫu họa tiết hoa văn mang màu sắc rực rỡ sẽ khiến chậu cây của bạn trở nên đẹp mắt hơn nhiều đấy.</p>
                    <h2>6/ “Làm mới” chậu cảnh bằng chi tiết trang trí</h2>
                    
                    <p class="blogtext1">Chỉ với một ít họa tiết trang trí như thế này cùng keo dán, bạn đã có ngay những chậu cảnh tinh tế mà không kém phần nổi bật.</p>
                    <h2>7/ Trang trí chậu cảnh bằng sơn</h2>
                    
                    <p class="blogtext1">Một lớp sơn trắng thay thế cho chậu cảnh màu nâu đất truyền thống là một ý tưởng thú vị để giúp chậu cảnh thêm đẹp mắt hơn. Màu trắng của thân chậu cũng khiến không gian chung trở nên sang trọng, hiện đại. Còn chần chừ gì nữa mà không sơn lại chậu cảnh của mình nào!
                        <br>Bạn cũng có thể sử dụng các màu sơn khác tùy theo sở thích của mình. Sơn chậu cảnh màu xanh biển cùng màu vàng ánh kim sẽ khiến nó trở nên lạ mắt. Sử dụng thêm đá trang trí màu sắc rực rỡ để che đi phần đất trồng cũng là một ý kiến hay làm đẹp chậu cảnh của bạn. Đá trang trí còn có tác dụng ngăn muỗi cùng những loài sinh vật có hại khác sinh sôi nảy nở ở đất trồng đấy.
                        <br>Chỉ bằng một chút sáng tạo, những mẫu chậu cây này trông đẹp mắt hơn và giúp tâm trạng gia chủ thoải mái, vui vẻ hơn.
                        </p>
                        <h2>8/ Trang trí chậu cây bằng giấy báo cũ</h2>
                        
                        <p class="blogtext1">Chắn hẳn nhà nào cũng sở hữu một vài tờ báo cũ, bạn đừng vội vứt đi mà hãy “cách tân” lại vẻ đẹp của chậu cây với báo nhé. Bằng sự khéo léo và sáng tạo, gia chủ có thể mang lại vẻ đẹp độc đáo cho những chậu cây đấy.</p>
                            <h2>9/ Trang trí chậu cảnh với vải hoa văn</h2>
                            
                            <p class="blogtext1">NTận dụng những mảnh vải hoa văn cũ để bọc quanh chậu cây là ý tưởng độc đáo giúp chậu cây trở nên khác biệt. Với cách làm này, không những màu sắc mà kết cấu của chậu cũng thay đổi nhờ các họa tiết trên vải. Bạn có thể sử dụng vải họa tiết hoa, thổ cẩm hay bất cứ họa tiết trang trí nào bạn thích.</p>
                                <h2>10/ Biến tấu ly uống nước thành chậu cảnh</h2>
                                
                                <p class="blogtext1">Chỉ cần thêm vào một ít đất trồng, bạn đã có thể tạo nên chậu cảnh từ một chiếc ly nước thủy tinh rồi đấy. Chất liệu thủy tinh trong suốt sẽ phơi bày toàn bộ vẻ đẹp của chậu cảnh bạn vừa trang trí.</p>
                                <h1 class="h1padding0" style="margin-left:0!important;
                                padding-left:0!important">XEM THÊM</h1>
        <div class ="blogcontainer">
            <a href="1"><div class="blogcard">
                <div class="cardimg"><img class ="blogimgsample" src="{% static 'dautay2.jpg' %}"></div>
                <!-- <p class="timetext">01/11/2023</p> -->
                <p class="blogtitle">MÁCH BẠN BÍ QUYẾT CHĂM RAU XANH TỐT</p>
            </div></a>
            <a href="2"><div class="blogcard">
                <div class="cardimg"><img class ="blogimgsample" src="{% static 'anhtuoicay.png' %}"></div>
                <!-- <p class="timetext">01/11/2023</p> -->
                <p class="blogtitle">MẸO CẦN THIẾT CHO NGƯỜI MỚI TẬP LÀM VƯỜN</p>
            </div></a>
            <a href="3"><div class="blogcard">
                <div class="cardimg"><img class ="blogimgsample" src="{% static 'anhnhieutrai.jpg' %}"></div>
                <!-- <p class="timetext">01/11/2023</p> -->
                <p class="blogtitle">10 Ý TƯỞNG CỰC LẠ TRANG TRÍ CHẬU CÂY</p>
            </div></a>
        </div>
    </div>
</body>
{% endblock %}