{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'blog.css' %}" rel='stylesheet'>
<body>
    <div class="blcontainer">
        <h1 class="blogh1">MÁCH BẠN BÍ QUYẾT CHĂM RAU XANH TỐT</h1>
        <h2>1/ Chuẩn bị đất trồng</h2>

        <p class="blogtext1">Hiện nay đã có một số loại đất sạch đóng túi chuyên
            phục vụ nhu cầu trồng rau trong nhà như đất sạch hữu cơ của INDOFA.
            Nếu không, bạn có thể chuẩn bị đất bằng cách trộn các giá thể như xơ
            dừa, tro trấu, đất thịt nhẹ cùng phân hữu cơ để tạo giá thể sạch cho
            cây trồng. Nhưng khi sử dụng tro trấu, các bạn nhớ xử lý kỹ trước
            khi trồng để giảm độ mặn, tránh làm hư hại đến rau.
            Theo kinh nghiệm của các chuyên gia thì để trồng rau ăn trong nhà
            thì ban đầu nên trộn khoảng 20-30% phân bón hữu cơ cho rau. Và để
            tạo môi trường đất vừa sạch, vừa đảm bảo dinh dưỡng, bạn có thể lựa
            chọn sản phẩm phân trùn quế. Phân trùn quế là loại phân hữu cơ tự
            nhiên, chứa nhiều chất dinh dưỡng, giúp giữ độ ẩm và thông thoáng
            đất, có hệ vi sinh vật tự nhiên có ích. Khi sử dụng phân trùn quế
            cho rau, bạn không cần phải ủ hoai hay xử lý mà vẫn đảm bảo sạch nấm
            bệnh.
        </p>
        <h2>2/ Chuẩn bị dụng cụ trồng</h2>

        <p class="blogtext1">Để tiết kiệm và phù hợp cho các gia đình phố, thì
            thùng xốp hay thùng nhựa là những sự lựa chọn phù hợp nhất. Khi chọn
            thùng xốp hay thùng nhựa để trồng bạn nên lưu ý đến kích thước của
            thùng. Khi trồng các loại rau củ dài ngày như dưa leo, cà chua,
            mướp,… bạn nên chọn loại thùng cao hơn đôi chút để đảm bảo đủ đất và
            độ ẩm cho cây. Còn khi trồng rau ăn lá, bạn có thể chọn thùng thấp
            hơn một tí, nhưng đừng thấp quá sẽ tốn nhiều công tưới nước.Thùng
            trước khi trồng cần được đục lỗ ở thành thùng cách đáy vài cm, đục ở
            đáy thùng làm khó giữ nước và dễ trôi phân khi bón.</p>

        <h2>3/ Ươm và gieo hạt</h2>

        <p class="blogtext1">Để đảm bảo vườn rau là rau sạch, bạn cần chọn nguồn
            hạt giống đảm bảo chất lượng và có tỉ lệ nảy mầm cao từ các nhãn
            hàng uy tín như: Indoor Farm, Trang Nông, Hai mũi tên đỏ, Phú Nông,…
            Hạt giống trước khi gieo, để đảm bảo tỷ lệ nảy mầm tốt, nên ngâm ủ
            qua nước ấm, thời gian ủ phụ thuộc vào từng loại cây.
            Với các loại hạt to như bầu, bí, mướp, dưa,… cần ngâm qua đêm rồi bỏ
            vào khăn ẩm ủ ở chỗ tối, giữ ẩm cho hạt nứt rồi mang gieo vào bầu
            tro trấu. Khi cây có hai lá cứng cáp, bạn mới trồng ra đất. Còn với
            các loại rau ăn lá, bạn không cần ủ mà có thể gieo trực tiếp sau khi
            ngâm. Khi gieo hạt, nên gieo đều tay, tránh gieo quá dày sẽ làm giảm
            năng suất rau. Sau đó, bạn thêm một lớp đất dày một cm phủ lên trên
            rồi tưới cho ẩm.
        </p>
        <h2>4/ Tưới tiêu hợp lý</h2>

        <p class="blogtext1">Cần kiểm tra, tưới nước định kỳ cho cây, không để
            cho cây thiếu nước hoặc quá úng nước. Mùa nắng tưới ngày 2 lần vào
            sáng sớm và chiều mát. Mùa mưa tùy theo thời tiết mà tưới, tránh
            tưới nhiều nước làm cây còi cọc không phát triển được. Đối với cây
            rau còn nhỏ khi gặp trời mưa cần che chắn tránh úng. Có thể tận dụng
            nước vo gạo để bổ sung dinh dưỡng cho cây.
        </p>
        <h2>5/ Xử lý sâu bệnh hại</h2>

        <p class="blogtext1">Nếu khi vườn gặp sâu bệnh hại tấn công, bạn nên
            chọn cách tự bắt khi số lượng nhỏ hoặc sử dụng các dung dịch tự tạo
            để phòng trừ. Gợi ý, bạn có thể tự pha dung dịch gừng, tỏi, ớt và
            rượu để phun gốc hay một lượng nhỏ trên lá. Cụ thể là bạn xay nhỏ
            một kg gừng, một kg tỏi, một kg ớt, ngâm với 3 lít rượu. Sau một
            tuần, lọc lấy nước cốt, 5-10 ml cốt pha với một lít nước thường phun
            cho cây. Bạn có thể phun vào đất xung quanh cây phòng sâu bệnh hoặc
            phun nhẹ lên lá trị được nhiều loại bệnh phổ biến.
        </p>
        <h2>6/ Cải tạo đất</h2>

        <p class="blogtext1">Sau một thời gian lâu, đất dễ bị cạn chất dinh
            dưỡng và tồn lưu nấm bệnh, bạn nên tiến hành rắc vôi, phơi khô đất,
            bổ sung thêm phân trùn quế để cải tạo cho đất. Một thùng xốp cần rắc
            một nắm vôi bột trộn đều với đất, để 7-10 ngày. Sau đó, trộn trấu
            hun, phân trùn quế vào tiếp tục một vụ mới. Bạn nên trồng luân canh,
            xen canh cây trồng, không nên trồng một loại cây 2 vụ liên tiếp
            trong một chậu để đảm bảo hiệu quả và hạn chế sâu bệnh.
            Với việc nhận được nhiều phản hồi tích cực từ người trồng rau tại
            nhà, phân trùn quế cao cấp INDOFA Pb01 của Đặng Gia Trang sẽ là
            người bạn đồng hành tốt nhất cho vườn rau của bạn. Sau khi sử dụng,
            rau luôn tươi ngon, năng suất tốt, màu sắc rau tươi tắn, hương vị
            nồng đậm và đặc biệt an toàn cho sức khỏe.
        </p>
        <h1 class="h1padding0" style="margin-left:0!important;
            padding-left:0!important">XEM THÊM</h1>
        <div class="blogcontainer">
            <a href="1"><div class="blogcard">
                    <div class="cardimg"><img class="blogimgsample" src="{% static 'dautay2.jpg' %}"></div>
                    <!-- <p class="timetext">01/11/2023</p> -->
                    <p class="blogtitle">MÁCH BẠN BÍ QUYẾT CHĂM RAU XANH TỐT</p>
                </div></a>
            <a href="2"><div class="blogcard">
                    <div class="cardimg"><img class="blogimgsample" src="{% static 'anhtuoicay.png' %}"></div>
                    <!-- <p class="timetext">01/11/2023</p> -->
                    <p class="blogtitle">MẸO CẦN THIẾT CHO NGƯỜI MỚI TẬP LÀM
                        VƯỜN</p>
                </div></a>
            <a href="3"><div class="blogcard">
                    <div class="cardimg"><img class="blogimgsample" src="{% static 'anhnhieutrai.jpg' %}"></div>
                    <!-- <p class="timetext">01/11/2023</p> -->
                    <p class="blogtitle">10 Ý TƯỞNG CỰC LẠ TRANG TRÍ CHẬU CÂY</p>
                </div></a>
        </div>
    </div>
</body>
{% endblock %}