<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href = "{% static 'check_order.css' %}" rel='stylesheet'>
</head>
<body>
    <div class = "container">
    <h1 class="title">Orders of {{name}}</h1>
    </div>
    <table class="rtable">
        <thead>
        <tr>
            <th>Username</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Food</th>
            <th>Quantity</th>
            <th>Time</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{order.username}}</td>
            <td>{{order.address}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.food}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.time}}</td>
            <td><button><a href="delete/{{order.id}}">Delete</a></button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
</body>
</html>