
{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'blog.css' %}" rel='stylesheet'>
<body>
    
   <div class ="blcontainer">
    <div id="top-banner-1" class="relative banner">
        <div class="banner-inner-wrapper">
            <img width="100%" id="banner-image" src="{% static 'chinhsachvadieukhoan.png' %}" alt="Banner Image">
        </div>
    </div>
    <!-- <div style ="width:100%;margin-left:50%;transform:translateX(-50%)"><img class = "blogimg" src="{% static 'chinhsachvadieukhoan.png' %}"></div> -->
    <p class="blogh1" style="text-align: center; padding-top:20px;">ĐIỀU KHOẢN VÀ CHÍNH SÁCH</p>
    <div class ="blcontainer">
        
<!--         
        <p class="blogtext1">1. Điều kiện đổi trả
Quý Khách hàng cần kiểm tra tình trạng hàng hóa và có thể đổi hàng/ trả lại hàng ngay tại thời điểm giao/nhận hàng trong những trường hợp sau:
Hàng không đúng chủng loại, mẫu mã trong đơn hàng đã đặt hoặc như trên website tại thời điểm đặt hàng.
Không đủ số lượng, không đủ loại sản phẩm như trong đơn hàng.
Tình trạng sản phẩm bị ảnh hưởng như rách bao bì, bong tróc, bể vỡ…
Khách hàng có trách nhiệm trình giấy tờ liên quan chứng minh sự thiếu sót trên để hoàn thành việc hoàn trả/đổi trả hàng hóa.
2. Thời gian thông báo và gửi sản phẩm đổi trả
Thời gian thông báo đổi trả: trong vòng 48h kể từ khi nhận sản phẩm đối với trường hợp sản phẩm thiếu phụ kiện, quà tặng hoặc bể vỡ.
Thời gian gửi chuyển trả sản phẩm: trong vòng 14 ngày kể từ khi nhận sản phẩm.
Địa điểm đổi trả sản phẩm: Khách hàng có thể mang hàng trực tiếp đến văn phòng/ cửa hàng của chúng tôi hoặc chuyển qua đường bưu điện.
Trong trường hợp Quý Khách hàng có ý kiến đóng góp/khiếu nại liên quan đến chất lượng sản phẩm, Quý Khách hàng vui lòng liên hệ đường dây chăm sóc khách hàng của chúng tôi. </p>
<div class ="blcontainer">
   <h1 style= "font-weight:bold" class="blogh1">Chính sách bảo mật</h1>
        
        <p class="blogtext1">Chính sách bảo mật này nhằm giúp Quý khách hiểu về cách website thu thập và sử dụng thông tin cá nhân của mình thông qua việc sử dụng trang web, bao gồm mọi thông tin có thể cung cấp thông qua trang web khi Quý khách đăng ký tài khoản, đăng ký nhận thông tin liên lạc từ chúng tôi, hoặc khi Quý khách mua sản phẩm, dịch vụ, yêu cầu thêm thông tin dịch vụ từ chúng tôi.
Chúng tôi sử dụng thông tin cá nhân của Quý khách để liên lạc khi cần thiết liên quan đến việc Quý khách sử dụng website của chúng tôi, để trả lời các câu hỏi hoặc gửi tài liệu và thông tin Quý khách yêu cầu.
Trang web của chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất để bảo vệ thông tin cũng như việc thanh toán của khách hàng. 
Mọi thông tin giao dịch sẽ được bảo mật ngoại trừ trong trường hợp cơ quan pháp luật yêu cầu. </p>
<div class ="blcontainer">
        <h1 style= "font-weight:bold" class="blogh1">Điều khoản dịch vụ</h1>
        
        <p class="blogtext1">1. Thương hiệu và bản quyền
Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, hình ảnh, video, âm nhạc, mã nguồn,… trong phạm vi website bạn đang xem đều thuộc sở hữu tài sản của INDOFA. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế.
2. Quy định về truy cập và sử dụng website
Khi truy cập vào website của chúng tôi, bạn cần đảm bảo việc bạn có đủ hành vi dân sự để thực hiện các giao dịch mua hàng theo quy định hiện hành của pháp luật Việt Nam. Hãy đảm bảo rằng bạn đã đủ 16 tuổi hoặc truy cập dưới sự giám sát của các thành viên trong gia đình hay người giám hộ hợp pháp.
Trong suốt quá trình đăng ký, sử dụng website,… bạn có toàn quyền quyết định mình sẽ được nhận thư quảng cáo, tin tức về các chương trình khuyến mãi thông qua Email mà bạn đã đăng ký hay không. Nếu không muốn tiếp tục nhận Email từ INDOFA, bạn cũng có toàn quyền từ chối bằng cách nhấp vào đường dẫn ở dưới cùng trong thư điện tử được gửi đến bất kỳ.
INDOFA không mong muốn bạn sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào nội dung, hệ thống hay làm thay đổi cấu trúc dữ liệu của website chúng tôi. Các hình thức phát tán, truyền bá, cổ vũ không được phép hay can thiệp, thay đổi, xóa bỏ nội dung, cấu trúc dữ liệu hệ thống của chúng tôi một cách bất hợp pháp đều sẽ có hình thức xử lý từ INDOFA. Mọi cá nhân hoặc tổ chức nếu vi phạm sẽ chịu truy tố trước pháp luật và phải bồi thường thiệt hại đã gây ra.
3. Quy định về bảo mật thông tin
INDOFA luôn coi trọng việc bảo mật thông tin và cam kết sẽ sử dụng mọi biện pháp tốt nhất nhằm bảo vệ thông tin bạn đã cung cấp cho chúng tôi.
Ở một mặt khác, bạn hoàn toàn có thể truy cập vào website và trình duyệt mà không cần phải cung cấp chi tiết cá nhân. Thông tin của bạn, nếu có, cũng đều sẽ được mã hóa để đảm bảo an toàn trong suốt quá trình giao dịch tại website INDOFA. Riêng trường hợp được cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.
Vui lòng xem kỹ hơn quy định tại phần Chính sách Bảo mật Thông tin.
INDOFA tuân thủ các biện pháp đảm bảo an toàn/ bảo mật thông tin tài khoản thanh toán cá nhân theo quy định của pháp luật cũng như các quy định và các khuyến nghị về giám sát của Ngân hàng Nhà nước.
4. Điều khoản về thông tin sản phẩm, giá cả, dịch vụ và các nội dung khác
Chúng tôi cam kết sẽ cung cấp thông tin sản phẩm, giá cả, dịch vụ và nội dung khác chính xác nhất đến người dùng. Tuy nhiên, đôi lúc vẫn có sai sót xảy ra, ví dụ như trường hợp giá cả sản phẩm, phí vận chuyển, hình ảnh sản phẩm,… không hiển thị chính xác ở một vài thời điểm và trên một số thiết bị. Tùy theo từng trường hợp cụ thể, INDOFA sẽ liên hệ trực tiếp nhằm hướng dẫn hoặc thông báo đến bạn để khắc phục và xử lý.</p>
<div class ="blcontainer">
        <h1 style= "font-weight:bold" class="blogh1">Phương thức thanh toán</h1>
        
        <p class="blogtext1">Hiện tại, chúng tôi đang có các phương thức thanh toán sau:
Thanh toán trực tiếp khi mua tại cửa hàng
COD (Thanh toán khi nhận hàng): Hình thức thanh toán truyền thống và dễ dàng trong trường hợp khách hàng chưa có tài khoản ngân hàng.
Chuyển khoản qua ngân hàng: Phương thức thanh toán thứ hai tiện lợi hơn khi khách hàng có thể chuyển khoản trực tiếp từ nhiều ngân hàng khác nhau để thanh toán đơn hàng của INDOFA.
Thông tin tài khoản:
Ngân hàng: BIDV
Số tài khoản: 16910000877780
Tên người thụ hưởng: NGUYEN THI THUY HIEN
Ví điện tử Momo: Một hình thức thanh toán phổ biến hiện nay. Với nhiều dịch vụ thanh toán từ ví điện từ Momo, khashc hàng có thể dễ dàng thanh toán chỉ ua một vài thao tác đơn giản
Thông tin ví điện tử Momo:
Số điện thoại: 0394575734
Tên tài khoản: NGUYEN THI THUY HIEN
Thanh toán bằng thẻ thanh toán nội địa (ATM): là hình thức thanh toán sử dụng các thẻ thanh toán nội địa được phát hành bởi các ngân hàng trong nước (Vietcombank, Vietinbank, Sacombank,…). Lưu ý rằng thẻ của bạn cần được đăng ký dịch vụ thanh toán thực tuyến tại ngân hàng để có thể sử dụng được hình thức này.
Thanh toán bằng thẻ thanh toán quốc tế: là hình thức thanh toán sử dụng các thẻ được phát hành bởi các tổ chức thẻ quốc tế (Visa, Master Card, JCB,…).
Thanh toán bằng ví điện tử Momo: là hình thức thanh toán bằng tài khoản ví điện tử Momo của khách hàng.</p> 
<div class ="blcontainer">
        <h1 class="blogh1">Chính sách khuyến mãi</h1>
        
        <p class="blogtext1">Với mong muốn giúp bạn có những trải nghiệm mua sắm tốt nhất, INDOFA sẽ áp dụng một số chính sách khuyến mãi cố định hoặc tùy thời điểm về phí giao hàng, quà tặng và ưu đãi đặc biệt.</p>          
<div class ="blcontainer">
        <h1 style= "font-weight:bold" class="blogh1">Quy định đổi trả hàng</h1>
         -->


<h2>CHÍNH SÁCH ĐỔI TRẢ</h2>
        
<p class="blogtext1" style="white-space: pre-wrap;">    Điều kiện đổi trả
        Quý Khách hàng cần kiểm tra tình trạng hàng hóa và có thể đổi hàng/ trả lại hàng ngay tại thời điểm giao/nhận hàng trong những trường hợp sau:
        Hàng không đúng chủng loại, mẫu mã trong đơn hàng đã đặt hoặc như trên website tại thời điểm đặt hàng.
        Không đủ số lượng, không đủ loại sản phẩm như trong đơn hàng.
        Tình trạng sản phẩm bị ảnh hưởng như rách bao bì, bong tróc, bể vỡ…
        Khách hàng có trách nhiệm trình giấy tờ liên quan chứng minh sự thiếu sót trên để hoàn thành việc hoàn trả/đổi trả hàng hóa.</p>
        
    <h3>Thời gian thông báo và gửi sản phẩm đổi trả</h3>
    <p class="blogtext1" style="white-space: pre-wrap;"> 
        Thời gian thông báo đổi trả: trong vòng 48h kể từ khi nhận sản phẩm đối với trường hợp sản phẩm thiếu phụ kiện, quà tặng hoặc bể vỡ.
        Thời gian gửi chuyển trả sản phẩm: trong vòng 14 ngày kể từ khi nhận sản phẩm.
        Địa điểm đổi trả sản phẩm: Khách hàng có thể mang hàng trực tiếp đến văn phòng/ cửa hàng của chúng tôi hoặc chuyển qua đường bưu điện.
        Trong trường hợp Quý Khách hàng có ý kiến đóng góp/khiếu nại liên quan đến chất lượng sản phẩm, Quý Khách hàng vui lòng liên hệ đường dây chăm sóc khách hàng của chúng tôi.</p>
        
<h2>CHÍNH SÁCH BẢO MẬT</h2>
        
    <p class="blogtext1" style="white-space: pre-wrap;"> 
        Chính sách bảo mật này nhằm giúp Quý khách hiểu về cách website thu thập và sử dụng thông tin cá nhân của mình thông qua việc sử dụng trang web, bao gồm mọi thông tin có thể cung cấp thông qua trang web khi Quý khách đăng ký tài khoản, đăng ký nhận thông tin liên lạc từ chúng tôi, hoặc khi Quý khách mua sản phẩm, dịch vụ, yêu cầu thêm thông tin dịch vụ từ chúng tôi.

        Chúng tôi sử dụng thông tin cá nhân của Quý khách để liên lạc khi cần thiết liên quan đến việc Quý khách sử dụng website của chúng tôi, để trả lời các câu hỏi hoặc gửi tài liệu và thông tin Quý khách yêu cầu.
        
        Trang web của chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất để bảo vệ thông tin cũng như việc thanh toán của khách hàng. 
        
        Mọi thông tin giao dịch sẽ được bảo mật ngoại trừ trong trường hợp cơ quan pháp luật yêu cầu.
        
        Điều khoản dịch vụ
    </p>
        
    <h3>1. THƯƠNG HIỆU VÀ BẢN QUYỀN</h3> 
    <p class="blogtext1" style="white-space: pre-wrap;">
        Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, hình ảnh, video, âm nhạc, mã nguồn,… trong phạm vi website bạn đang xem đều thuộc sở hữu tài sản của INDOFA. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế.
    </p>    
    <h3>2. QUY ĐỊNH VỀ TRUY CẬP VÀ SỬ DỤNG WEBSITE</h3>
    <p class="blogtext1" style="white-space: pre-wrap;">
        Khi truy cập vào website của chúng tôi, bạn cần đảm bảo việc bạn có đủ hành vi dân sự để thực hiện các giao dịch mua hàng theo quy định hiện hành của pháp luật Việt Nam. Hãy đảm bảo rằng bạn đã đủ 16 tuổi hoặc truy cập dưới sự giám sát của các thành viên trong gia đình hay người giám hộ hợp pháp.
        Trong suốt quá trình đăng ký, sử dụng website,… bạn có toàn quyền quyết định mình sẽ được nhận thư quảng cáo, tin tức về các chương trình khuyến mãi thông qua Email mà bạn đã đăng ký hay không. Nếu không muốn tiếp tục nhận Email từ INDOFA, bạn cũng có toàn quyền từ chối bằng cách nhấp vào đường dẫn ở dưới cùng trong thư điện tử được gửi đến bất kỳ.
        INDOFA không mong muốn bạn sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào nội dung, hệ thống hay làm thay đổi cấu trúc dữ liệu của website chúng tôi. Các hình thức phát tán, truyền bá, cổ vũ không được phép hay can thiệp, thay đổi, xóa bỏ nội dung, cấu trúc dữ liệu hệ thống của chúng tôi một cách bất hợp pháp đều sẽ có hình thức xử lý từ INDOFA. Mọi cá nhân hoặc tổ chức nếu vi phạm sẽ chịu truy tố trước pháp luật và phải bồi thường thiệt hại đã gây ra.
    </p>    
    <h3>3. QUY ĐỊNH VỀ BẢO MẬT THÔNG TIN</h3>
    <p class="blogtext1" style="white-space: pre-wrap;">
        INDOFA luôn coi trọng việc bảo mật thông tin và cam kết sẽ sử dụng mọi biện pháp tốt nhất nhằm bảo vệ thông tin bạn đã cung cấp cho chúng tôi.
        Ở một mặt khác, bạn hoàn toàn có thể truy cập vào website và trình duyệt mà không cần phải cung cấp chi tiết cá nhân. Thông tin của bạn, nếu có, cũng đều sẽ được mã hóa để đảm bảo an toàn trong suốt quá trình giao dịch tại website INDOFA. Riêng trường hợp được cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.
        Vui lòng xem kỹ hơn quy định tại phần Chính sách Bảo mật Thông tin.
        
        INDOFA tuân thủ các biện pháp đảm bảo an toàn/ bảo mật thông tin tài khoản thanh toán cá nhân theo quy định của pháp luật cũng như các quy định và các khuyến nghị về giám sát của Ngân hàng Nhà nước.
    </p>    
    <h3>4. ĐIỀU KHOẢN VỀ THÔNG TIN SẢN PHẨM, GIÁ CẢ, DỊCH VỤ VÀ CÁC NỘI DUNG KHÁC</h3>
    
    <p class="blogtext1" style="white-space: pre-wrap;">    Chúng tôi cam kết sẽ cung cấp thông tin sản phẩm, giá cả, dịch vụ và nội dung khác chính xác nhất đến người dùng. Tuy nhiên, đôi lúc vẫn có sai sót xảy ra, ví dụ như trường hợp giá cả sản phẩm, phí vận chuyển, hình ảnh sản phẩm,… không hiển thị chính xác ở một vài thời điểm và trên một số thiết bị. Tùy theo từng trường hợp cụ thể, INDOFA sẽ liên hệ trực tiếp nhằm hướng dẫn hoặc thông báo đến bạn để khắc phục và xử lý.
     </p>   
    <h3>5. PHƯƠNG THỨC THANH TOÁN</h3>
     
    <p class="blogtext1" style="white-space: pre-wrap;">   Hiện tại, chúng tôi đang có các phương thức thanh toán sau:
        +Thanh toán trực tiếp khi mua tại cửa hàng
        
        +COD (Thanh toán khi nhận hàng): Hình thức thanh toán truyền thống và dễ dàng trong trường hợp khách hàng chưa có tài khoản ngân hàng.
        
        +Chuyển khoản qua ngân hàng: Phương thức thanh toán thứ hai tiện lợi hơn khi khách hàng có thể chuyển khoản trực tiếp từ nhiều ngân hàng khác nhau để thanh toán đơn hàng của INDOFA.
        
        Thông tin tài khoản:
        Ngân hàng: BIDV
        Số tài khoản:	16910000877780
        Tên người thụ hưởng: NGUYEN THI THUY HIEN
        +Ví điện tử Momo: Một hình thức thanh toán phổ biến hiện nay. Với nhiều dịch vụ thanh toán từ ví điện từ Momo, khashc hàng có thể dễ dàng thanh toán chỉ ua một vài thao tác đơn giản
        
        Thông tin ví điện tử Momo:
        Số điện thoại: 0394575734
        Tên tài khoản: NGUYEN THI THUY HIEN
        
        +Thanh toán bằng thẻ thanh toán nội địa (ATM): là hình thức thanh toán sử dụng các thẻ thanh toán nội địa được phát hành bởi các ngân hàng trong nước (Vietcombank, Vietinbank, Sacombank,…). Lưu ý rằng thẻ của bạn cần được đăng ký dịch vụ thanh toán thực tuyến tại ngân hàng để có thể sử dụng được hình thức này.
        +Thanh toán bằng thẻ thanh toán quốc tế: là hình thức thanh toán sử dụng các thẻ được phát hành bởi các tổ chức thẻ quốc tế (Visa, Master Card, JCB,…).
        Thanh toán bằng ví điện tử Momo: là hình thức thanh toán bằng tài khoản ví điện tử Momo của khách hàng.
    </p>   
    <h3>6. CHÍNH SÁCH KHUYẾN MÃI</h3>
    <p class="blogtext1" style="white-space: pre-wrap;">    Với mong muốn giúp bạn có những trải nghiệm mua sắm tốt nhất, INDOFA sẽ áp dụng một số chính sách khuyến mãi cố định hoặc tùy thời điểm về phí giao hàng, quà tặng và ưu đãi đặc biệt.
     </p>   
    <h3>7. QUY ĐỊNH ĐỔI HÀNG VÀ BẢO HÀNH</h3>
    <p class="blogtext1" style="white-space: pre-wrap;">     Điều kiện đổi trả
        Quý Khách hàng cần kiểm tra tình trạng hàng hóa và có thể đổi hàng/ trả lại hàng ngay tại thời điểm giao/nhận hàng trong những trường hợp sau:
        
        Hàng không đúng chủng loại, mẫu mã trong đơn hàng đã đặt hoặc như trên website tại thời điểm đặt hàng.
        Không đủ số lượng, không đủ loại sản phẩm như trong đơn hàng.
        Tình trạng sản phẩm bị ảnh hưởng như rách bao bì, bong tróc, bể vỡ…
        
        Khách hàng có trách nhiệm trình giấy tờ liên quan chứng minh sự thiếu sót trên để hoàn thành việc hoàn trả/đổi trả hàng hóa.
        
        Thời gian thông báo và gửi sản phẩm đổi trả
        Thời gian thông báo đổi trả: trong vòng 48h kể từ khi nhận sản phẩm đối với trường hợp sản phẩm thiếu phụ kiện, quà tặng hoặc bể vỡ.
        Thời gian gửi chuyển trả sản phẩm: trong vòng 14 ngày kể từ khi nhận sản phẩm.
        Địa điểm đổi trả sản phẩm: Khách hàng có thể mang hàng trực tiếp đến văn phòng/ cửa hàng của chúng tôi hoặc chuyển qua đường bưu điện.
        
        Trong trường hợp Quý Khách hàng có ý kiến đóng góp/khiếu nại liên quan đến chất lượng sản phẩm, Quý Khách hàng vui lòng liên hệ đường dây chăm sóc khách hàng của chúng tôi.
        
    </p>    
    <h3>8. QUYỀN PHÁP LÝ</h3>
    <p class="blogtext1" style="white-space: pre-wrap;"> 
        Bạn có toàn quyền yêu cầu chúng tôi sửa lại những sai sót trong dữ liệu của bạn. Bất cứ lúc nào bạn cũng có quyền yêu cầu chúng tôi ngưng sử dụng dữ liệu cá nhân của bạn cho mục đích tiếp thị hoặc ngưng nhận thông tin quảng cáo, khuyến mãi từ INDOFA thông qua Email.
        Các điều kiện, điều khoản và nội dung tại website được điều chỉnh theo luật pháp Việt Nam và Tòa Án có thẩm quyền tại Việt Nam sẽ giải quyết bất kỳ tranh chấp nếu có phát sinh từ việc sử dụng trái phép nội dung.
        
        </p>
   </div>
</body>


{% endblock %}