<!DOCTYPE html>
<html>
    <head>
        <title>Log in to Indofa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link href="{% static 'register.css' %}" rel='stylesheet'>
    </head>
    <body>
    <div class="container " id="container">
         <div class = "justify"> <!--class="form-container sign-in-container"> -->
            <form style="min-height:550px;" action="register" method = "POST" id="register">
                <h1>ĐĂNG KÝ TÀI KHOẢN</h1>
                {% csrf_token %}
                <input type="text" name="first" placeholder="Họ và tên đệm" /> 
                <input type="text" name= "last" placeholder="Tên" />
                <input type="email" name="email" placeholder="Email" />  
                <input type="text" name="username" placeholder="Tài Khoản" />
                <input type="password" name="password1" placeholder="Mật khẩu" />
                <input type="password" name="password2" placeholder="Xác nhận mật khẩu" />
                <button form = "register" type="submit" class="btn btn-primary">Đăng ký</button>
                <p><a href = "login">Đã có tài khoản? Đăng nhập ngay!</a></p>
                <p><strong>{{error}}</strong></p>
            </form>
        </div>
        <div class="overlay-container">
                <div>    
                    <img src="{% static 'hinhregister.png' %}" style="width:100%; max-height:550px;object-fit:contain;">
                </div>
        </div>
    </div>
    </body>
</html>