{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- <link href="{% static 'cart.css' %}" rel='stylesheet'> -->
<link href="{% static 'spefificproduct.css' %}" rel='stylesheet'>


<body> <section>
        <div class="greenline" style="width: 100%; height: 40px; background: #91B377;">
            <p class="textgreenline">TRANG CHỦ / HẠT GIỐNG / HẠT GIỐNG RAU</p>
        </div>
        <div class="specontainer">
            <img class="speproductimg" src="{{object.image.url}}">
            <div class="productdescription">
                <div style="padding-top:20px;width: 80%; margin-left:10%">
                    <p class="producttile">{{object.name}}</p>
                    <p class="productprice">{{object.price}}.000 VND</p>
                    <div
                        style="margin-top: 15px;border: 1.5px dashed #4B8946; width: 70%;margin-left:50%;transform:translateX(-50%);">
                    </div>
                    <form  id = "cart" method = "POST">
                    <div class="wrapAmount">
                        <button type="button" onclick="decreaseValue()" class="btnSub">-</button>
                        <input class="totalAmount" name = "totalAmount" id="totalAmount" min=0 value =0>
                        <button type="button" onclick="increaseValue()" class="btnAdd">+</button>
                    </div>
                    <div class="buttoncontainer">
                        {% csrf_token %}
                        <button form = "cart" type="submit" class="addtocart" style="text-align: center; background: #FCE9BA; width:100%;">THÊM VÀO
                            GIỎ HÀNG</button>
                        <button form = "cart" type="submit" class="addtocart" style="text-align: center; background: #91B277; width:100%;">THANH
                            TOÁN</button>
                    </div>
                    </form>
                    <p class="description">{{ object.desc|safe }}
                    </p>
                </div>
            </div>
        </div>
        
    </section> 


    <script>
        function decreaseValue() {
            // Get the input element
            var input = document.getElementById("totalAmount");
            // Get the current value of the input
            var currentValue = parseInt(input.value);
            // Decrease the value by 1
            var newValue = currentValue - 1;
            // Set the new value of the input
            input.value = newValue < 0 ? 0 : newValue;
        }
    
        function increaseValue() {
            // Get the input element
            var input = document.getElementById("totalAmount");
            // Get the current value of the input
            var currentValue = parseInt(input.value);
            // Increase the value by 1
            var newValue = currentValue + 1;
            // Set the new value of the input
            input.value = newValue;
        }
    </script>
</body>




{% endblock %}