.accountcontainer{
    width: 80%;
    display: grid;
    margin-left:50%;
    transform:translateX(-50%);
    grid-template-columns: 3fr 10fr;
}
h1{
    margin-left:2%;
}
.accountcontainer .accountcontainerdetail .taikhoan{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    
    color: #91B277;
}
.accountcontainer .accountcontainerdetail .taikhoandetail{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    
    color: #000000;
}
.accountcontainer .accountinfo .accountinfolargetext{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    
    color: #000000;

}
.accountcontainer .accountinfo .basicinfo{
    background: #FFFFFF;
border: 1px solid #827F7F;
}
.accountcontainer .accountinfo .basicinfo p{
    padding-left:5%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
}
.accountcontainer .accountinfo .accountorder .accountinfolargetext{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    
    color: #000000;

}
table{
    width:100%;
}
table, th, td {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    color: #000000;
    border: 0px solid black;
    border-collapse: collapse;
  }
  .mainth{
    font-weight: 700;
    font-size: 1.5em;
  }
  table{
    border: 1px solid #827F7F;
    border-collapse: collapse;
  }
  tr{
    border-bottom:1px solid #827F7F;
  }
  .noline {
    border-bottom: 0px solid black;
  }