.maincontainer{
    width: 80%;
    margin-left:50%;
    transform:translateX(-50%); }
.soluong{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 41px;
    display:inline;
    color:
 #4B8946;
}
.blacktext{
    display:inline;
    color:black;
}
.tuyendungcontainer p{font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 41px;
    display:inline;
    color: #000000;}